aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
click==8.0.1
idna==3.2
joblib==1.0.1
multidict==5.1.0
nltk==3.6.2
numpy==1.21.2
pandas==1.3.2
python-dateutil==2.8.2
pytz==2021.1
regex==2021.8.3
six==1.16.0
tqdm==4.62.1
twitchio==2.0.5
typing-extensions==3.10.0.0
yarl==1.6.3
